@charset "UTF-8";
.main__fonction-list .list-btn .list-center, .main__fonction-list .list-btn .list-num, .main__intro-txt, .main__intro, .header__loc, .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*****Général*****/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
}

a {
  text-decoration: none;
  color: inherit;
}

/******Header*****/
.header__logo {
  padding: 20px 0 10px 0;
  border-bottom: solid 1px #EAEAEA;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
}
.header__logo img {
  width: 160px;
}

.header__loc {
  border-bottom: solid 1px #EAEAEA;
  background-color: #EAEAEA;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  gap: 15px;
}
.header__loc p {
  font-weight: 700;
  color: #353535;
}

/******Intro******/
.main__intro {
  flex-wrap: wrap;
  background-color: #F6F6F6;
}

.main__intro-txt {
  flex-wrap: wrap;
}
.main__intro-txt h1 {
  text-align: center;
  margin: 40px 40px 10px 40px;
}
.main__intro-txt p {
  text-align: center;
  margin: 5px 20px 30px 20px;
}

.main__intro-btn {
  border: solid 1px grey;
  border-radius: 25px;
  padding: 0 20px;
  margin-bottom: 50px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
}
.main__intro-btn a {
  color: white;
  font-size: 14px;
}

/*****Fonctionnement****/
.main__fonction {
  margin: 30px 20px 70px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__fonction-title {
  margin-bottom: 5px;
  height: 50px;
}

.main__fonction-list {
  display: flex;
  margin-left: 10px;
}
.main__fonction-list .list-btn {
  display: flex;
  border: solid 1px #F6F6F6;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 10px 10px 10px 0;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.1);
}
.main__fonction-list .list-btn .list-num {
  border: solid 1px #9356DC;
  background-color: #9356DC;
  color: white;
  font-size: 14px;
  border-radius: 50px;
  padding: 3px 7px;
  position: relative;
  margin-left: -12px;
}
.main__fonction-list .list-btn .list-center {
  width: 100%;
  gap: 25px;
}
.main__fonction-list .list-btn .list-center p {
  font-weight: 500;
  font-size: 15 px;
}
.main__fonction-list .list-btn i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: grey;
}

/*******Restaurants*******/
.main__restaurants {
  background-color: #F6F6F6;
  padding: 40px 15px 70px 15px;
  width: 100%;
}

.main__restaurants-title {
  display: flex;
}

.main__restaurants-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 17px;
}
.main__restaurants-cards a {
  width: 100%;
}
.main__restaurants-cards a .card {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 260px;
}
.main__restaurants-cards a .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.main__restaurants-cards a .card .card-content {
  display: flex;
}
.main__restaurants-cards a .card .card-content h3 {
  margin: 0;
  padding: 15px 0 5px 10px;
}
.main__restaurants-cards a .card .card-content p {
  margin: 0;
  padding-left: 10px;
}
.main__restaurants-cards a .card .card-content i {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  position: absolute;
  right: 15px;
  padding-top: 10px;
  font-weight: 100;
}
.main__restaurants-cards a .card .card-content .fa-solid {
  display: none;
}

/******Footer******/
footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 20px 15px 25px;
  background-color: #353535;
}

.footer-title h3 {
  margin: 5px 0 15px 0;
  color: white;
  width: 100px;
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
}

.footer-list {
  display: flex;
  flex-direction: column;
}
.footer-list a {
  display: flex;
  gap: 10px;
}
.footer-list a i {
  display: flex;
  align-items: center;
  color: white;
  font-size: 12px;
}
.footer-list a p {
  color: white;
  margin: 0 0 10px 0;
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */