/*******Général******/
@import './_variables';
@import './_placeholders';

@keyframes apparition {
    100% {
        opacity : 1;
        transform: none;
    }
}

@keyframes full {
    100% {
        opacity: 1;
        font-weight: 900;
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(-120deg, $btn-color-one, $btn-color-two); 
    }
}

* {
    font-family: 'Roboto' , sans-serif;
    box-sizing: border-box;
}

body {
    margin : 0;
}

.main-container {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

/******Header******/

header {
    display: flex;
    justify-content: space-between;
}

.return{
    display: flex;
    margin: 20px;
    width: 20px;
    font-size: 22px;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.4s 1s ease-out forwards;
}

.header-logo {
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.4s 1s ease-out forwards;
    @extend %flex-center;
    padding: 20px 0 15px 0;
    img {
        width: 160px;
    }
}    


/*****Intro*****/

.main__intro-back {
    img {
        width: 100%;
        opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.4s 0.8s ease-out forwards;
    }
}

/******Menu*****/

.main__menu {
    border: solid 1px $main-bg-color;
    background-color: $main-bg-color;
    border-radius: 50px 50px 0 0;
    padding: 20px 15px 15px 15px;
    margin-top: -50px;
    position: relative;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.4s 1s ease-out forwards;
}    

.main__menu-title {
    display: flex;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.4s 1s ease-out forwards;
    h1 {
        display: flex;
        font-family: 'shrikhand' , sans-serif;
        font-size: 26px;
        padding-left: 5px;
        margin-right: 70px;
        
    }
    i {
        position: absolute;
        right: 20px;
        top: 15px;
        display: flex;
        margin-left: 300px;
        width: 50px;
        height: 50px;
        font-size: 28px;
        padding-top: 10px;
    }
    .fa-solid {
        opacity: 0;
        &:hover {
            animation: full 0.2s 0.1s ease-out forwards;
        }
    }
}

.main__menu-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    .list-title {
        display: flex;
        border-bottom: solid 3px $btn-color-three;
        width: 40px;
        h2 {
            margin: 0;
            padding-bottom: 5px;
            font-weight: 400;
            font-size: 18px;
        }   
    }
    .list-card {
        .list-txt {
            border: solid 2px $main-bg-color;
            background-color: white;
            margin: 10px 0 10px 0;
            padding: 10px 15px 10px 15px;
            border-radius: 20px;
            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.10);
            position: relative;
            &:hover {
                span {
                    animation: span 0.3s ease-out forwards;
                }
                @keyframes span {
                    100% {
                        margin-right: 65px;
                    }
                }
                .check-btn {
                    display: block;
                    animation: translate 0.3s ease-out forwards;
                }
                @keyframes translate{
                    100% {
                        margin-right: 0;
                    }
                }
            }
            .check-btn {
                display: none;
                position: absolute;
                right: -2px;
                top: 0px;
                border-left: solid 1px $btn-color-three;
                border-radius: 0 20px 20px 0;
                padding: 24px 25px 24px 25px;
                margin-right: -65px;
                background-color: $btn-color-three;
                }
                i {
                    border: solid 1px white;
                    border-radius: 50%;
                    padding: 2px;
                    background-color: white;
                    color: $btn-color-three;
                }
            h3 {
                margin: 0;
                padding-bottom: 5px;   
            }
            .txt {
                display: flex;
                justify-content: space-between;
            }
            p {
                margin: 0;
                span {
                    font-weight: 600;
                }   
            }
            .ellipse {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }
    }
}

.one {
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.4s 1.4s ease-out forwards;
}

.two {
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.4s 2s ease-out forwards;
}

.three {
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.4s 2.6s ease-out forwards;
}

.extend {
    @extend %flex-center;
}

.main__menu-btn {
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.4s 2.8s ease-out forwards;
    @extend %flex-center;
    width: 50%;
    border: solid 1px grey;
    border-radius: 40px;
    padding: 5px 20px;
    margin-bottom: 50px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.20);
    background: linear-gradient(-5deg, $btn-color-one, $btn-color-two);
    &:hover {
        filter: brightness(1.10);
        box-shadow: 1px 6px 14px rgba(0, 0, 0, 0.25);
        transition: 500ms;
    }
    a {
        color: white;
        font-size: 14px;
    }
}

/******Footer******/

footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px 20px 15px 25px;
    background-color: #353535;
}

.footer-title {
    h3 {
        margin: 5px 0 15px 0;
        color: white;
        width: 100px;
        font-family: "Shrikhand" , sans-serif;
        font-weight: 400;
    }
}

.footer-list {
    display: flex;
    flex-direction: column;
    a {
      display: flex;
      gap: 10px;
      i {
        display: flex;
        align-items: center;
        color: white;
        font-size: 12px;
      }
      p {
        color: white;
        margin: 0 0 10px 0;
        font-size: 15px;
      }
    }
}


@media screen and (min-width: 768px) {

}


@media screen and (min-width: 1024px) {

    /******Header******/

    .return{
        margin: 30px;
    }

    .header-logo {
        padding: 25px 0 30px 0;
        img {
            width: 220px;
        }
    }  
    
    /*****Intro*****/

    .main__intro-back {
        img {
            height: 400px;
            object-fit: cover;
        }
    }

    /******Menu*****/
    
    .main__menu {
        margin: -50px 14vw 0 14vw;
        padding: 30px 14vw 15px 14vw;
    }

    .main__menu-title {
        display: flex;
        gap: 10px;
        h1 {
            padding-left: 12vw;
            margin-bottom: 50px;
            margin-right: 10px;
        }
        i {
            position: static;
            margin: 0;
            display: flex;
            align-items: center;
            height: 70px;

    }
    }
    
    /******Footer*****/

    footer {
        flex-direction: row-reverse;
        padding: 40px 80px 20px 25px;
    }
    
    .footer-title {
        h3 {
            margin: 5px 0 15px 100px;
        }
    }
    
    .footer-list {
        flex-direction: row;
        gap: 15px;
        align-items: center;
        .gras-space {
            display: flex;
            margin-right: 30px;
            gap: 10px;
            font-weight: 500;
        }
        a {
            gap: 10px;
            p {
                margin: 0px;  
            }
        }
    }

}
